zslices/

*.jld
*.jld2

*.data

.vscode
.DS_Store

*.aux
*.bbl
*.blg
*.log
*.out
*.synctex.gz
*Notes.bib

fock.pdf
model.pdf
box2d.pdf

/notes/svg-inkscape

Manifest.toml

*.out
*.err

*.nav
slides.pdf
*.snm
*.nav
*.toc
*.aux
*.log
*.out
*.synctex.gz
*.bbl
*.blg
*.brf
*.fls
*.fdb_latexmk
*.vrb
